:root {
  --header-height: 50px;
}

* {
  box-sizing: border-box;
}

.body {
  font-family: 'Inter', sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 64rem;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  box-shadow: 0px 0px 5px 2px #DBDBDB;
}

.header {
  min-width: 100%;
  height: var(--header-height);
}

.header__navbar {
  background-color: #444440;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav-item {
  color: #fff;
  line-height: var(--header-height);
  padding: 0 10px;
  font-weight: 500;
  text-align: center;
}

.header__nav-item:hover {
  background-color: gray;
}

.main {
  display: flex;
}

.left-section {
  min-height: calc(100vh - var(--header-height));
  background-color: #f4f4f4;
  padding: 20px;
}

.right-section {
  width: 100%;
}

.avatar__image {
  height: 300px;
  border: #444440 15px solid;
  border-radius: 50%;
}